<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<!-- <script src="https://unpkg.com/vue@next"></script> -->
		<script src="js/v2.6.10/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<style>
			table thead tr {
				border: 1px solid #ccc
			}

			table thead tr th {
				border: 1px solid #ccc
			}

			table tbody tr td {
				border: 1px solid #ccc
			}
		</style>
		<style>
			html {
				background-color: #E3E3E3;
				font-size: 14px;
				color: #000;
				font-family: '微软雅黑'
			}

			a,
			a:hover {
				text-decoration: none;
			}

			pre {
				font-family: '微软雅黑'
			}

			.box {
				padding: 20px;
				background-color: #fff;
				margin: 50px 100px;
				border-radius: 5px;
			}

			.box a {
				padding-right: 15px;
			}

			#about_hide {
				display: none
			}

			.layer_text {
				background-color: #fff;
				padding: 20px;
			}

			.layer_text p {
				margin-bottom: 10px;
				text-indent: 2em;
				line-height: 23px;
			}

			.button {
				display: inline-block;
				*display: inline;
				*zoom: 1;
				line-height: 30px;
				padding: 0 20px;
				background-color: #56B4DC;
				color: #fff;
				font-size: 14px;
				border-radius: 3px;
				cursor: pointer;
				font-weight: normal;
			}

			.photos-demo img {
				width: 200px;
			}
		</style>

		<script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
		<script src="./js/dist/layer.js"></script>
	</head>
	<body>
		<div id="app">
			<h2 style="width: 100%; text-align: center;">person management system</h2>
			<div style="width: 100%; justify-content: center; display: flex;">
				<div style="width: 70%;">
					<button type="button" @click="openAdd">ADD</button>
					<input placeholder="Please enter the id query" v-model="id" /><button type="button" @click="queryById">Search</button>
				</div>
			</div>
			<div style="width: 100%; justify-content: center; display: flex;">
				<table style="width: 70%;">
					<thead>
						<th>id</th>
						<th>server_id</th>
						<th>name</th>
						<th>currency</th>
						<th>type</th>
						<th>digits</th>
						<th>trade</th>
						<th>swap_long</th>
						<th>swap_short</th>
						<th>contract_size</th>
						<th>description</th>
						<th>operation</th>
					</thead>
					<tbody>
						<tr v-for="(item,index) in userList" :key="index">
							<td>{{item.id}}</td>
							<td>{{item.server_id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.currency}}</td>
							<td>{{item.type}}</td>
							<td>{{item.digits}}</td>
							<td>{{item.trade}}</td>
							<td>{{item.swap_long}}</td>
							<td>{{item.swap_short}}</td>
							<td>{{item.contract_size}}</td>
							<td>{{item.description}}</td>
							<td>
								<button type="button" @click="getById(item.id)">Edit</button>
								|
								<button type="button" @click="doDelete(item.id)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="addDiv" style="display: none;">
				<form id="addForm" style="width: 100%;">
					<table style="width: 100%;">
						<tr>
							<td style="width: 20%;"><strong>id</strong></td>
							<td><input name="id" v-model="userObj.id" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>server_id</strong></td>
							<td><input name="server_id" v-model="userObj.server_id" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>name</strong></td>
							<td><input name="name" v-model="userObj.name" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>currency</strong></td>
							<td><input name="currency" v-model="userObj.currency" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>type</strong></td>
							<td><input name="type" v-model="userObj.type" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>digits</strong></td>
							<td><input name="digits" v-model="userObj.digits" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>trade</strong></td>
							<td><input name="trade" v-model="userObj.trade" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>swap_long</strong></td>
							<td><input name="swap_long" v-model="userObj.swap_long" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>swap_short</strong></td>
							<td><input name="swap_short" v-model="userObj.swap_short" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>contract_size</strong></td>
							<td><input name="contract_size" v-model="userObj.contract_size" style="width: 90%;" /></td>
						</tr>
						<tr>
							<td style="width: 20%;"><strong>description</strong></td>
							<td><input name="description" v-model="userObj.description" style="width: 90%;" /></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data() {
					return {
						userList: [],
						id: null,
						userObj: {}
					}
				},
				beforeMount() {
					console.log("挂载前生命周期");
				},
				mounted() {
					console.log("挂载完成生命周期");
				},
				created: function() {
					let that = this
					axios.get('http://localhost:3000/list').then(function(response) {
						that.userList = response.data
						console.log(response.data);
					}).catch(function(error) {
						console.log(error);
					});
				},
				methods: {
					queryById() {
						let that = this
						that.userList = []
						axios.get('http://localhost:3000/list?id=' + that.id).then(function(response) {
							if (that.id != null && that.id != '') {
								that.userList.push(response.data)
							} else {
								that.userList = response.data
							}
							console.log(response.data);
						}).catch(function(error) {
							console.log(error);
						});
					},
					openAdd() {
						layer.open({
							type: 1,
							area: ['500px', '600px'],
							content: $('#addDiv'), //content是一个DOM，该元素要存放在body最外层，不然可能被其它的相对元素所影响
							btn: ['Submit', 'Close'],
							yes: function(index, layero) {
								if ($('#addForm').find('input[name="id"]').val() == '') {
									$('#addForm').find('input[name="id"]').focus()
									alert('Please enter id')
									return
								}
								if ($('#addForm').find('input[name="server_id"]').val() == '') {
									$('#addForm').find('input[name="server_id"]').focus()
									alert('Please enter server_id')
									return
								}
								if ($('#addForm').find('input[name="name"]').val() == '') {
									$('#addForm').find('input[name="name"]').focus()
									alert('Please enter name')
									return
								}
								if ($('#addForm').find('input[name="currency"]').val() == '') {
									$('#addForm').find('input[name="currency"]').focus()
									alert('Please enter currency')
									return
								}
								if ($('#addForm').find('input[name="type"]').val() == '') {
									$('#addForm').find('input[name="type"]').focus()
									alert('Please enter type')
									return
								}
								if ($('#addForm').find('input[name="digits"]').val() == '') {
									$('#addForm').find('input[name="digits"]').focus()
									alert('Please enter digits')
									return
								}
								if ($('#addForm').find('input[name="trade"]').val() == '') {
									$('#addForm').find('input[name="trade"]').focus()
									alert('Please enter trade')
									return
								}
								if ($('#addForm').find('input[name="swap_long"]').val() == '') {
									$('#addForm').find('input[name="swap_long"]').focus()
									alert('Please enter swap_long')
									return
								}
								if ($('#addForm').find('input[name="swap_short"]').val() == '') {
									$('#addForm').find('input[name="swap_short"]').focus()
									alert('Please enter swap_short')
									return
								}
								if ($('#addForm').find('input[name="contract_size"]').val() == '') {
									$('#addForm').find('input[name="contract_size"]').focus()
									alert('Please enter contract_size')
									return
								}
								if ($('#addForm').find('input[name="description"]').val() == '') {
									$('#addForm').find('input[name="description"]').focus()
									alert('Please enter description')
									return
								}
								axios.get('http://localhost:3000/add?' + $('#addForm').serialize()).then(function(response) {
									console.log(response.data);
									if(response.status != 200) {
										alert(response.data)
									} else {
										alert('Successful operation')
										window.location.reload()
									}
								}).catch(function(error) {
									console.log(error);
									alert(error.response.data)
								});
							},
							btn2: function(index, layero) {
								//close button
							}
						});
					},
					doDelete(id) {
						layer.confirm('Are you sure you want to delete？', {
						  btn: ['Yes', 'Cancel'] //可以无限个按钮
						}, function(index, layero){
						  axios.get('http://localhost:3000/delete?id=' + id).then(function(response) {
						  	console.log(response.data);
							layer.closeAll()
						  	if(response.status != 200) {
						  		alert(response.data)
						  	} else {
						  		alert('Successful operation')
						  		window.location.reload()
						  	}
						  }).catch(function(error) {
							  layer.closeAll()
						  	console.log(error);
						  	alert(error.response.data)
						  });
						}, function(index){
						  //close button
						});
					},
					getById(id) {
						let that = this
						axios.get('http://localhost:3000/list?id=' + id).then(function(response) {
							that.userObj = response.data
							layer.open({
								type: 1,
								area: ['500px', '600px'],
								content: $('#addDiv'), //这里content是一个DOM，最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
								btn: ['Submit', 'Close'],
								yes: function(index, layero) {
									if ($('#addForm').find('input[name="id"]').val() == '') {
										$('#addForm').find('input[name="id"]').focus()
										alert('Please enter id')
										return
									}
									if ($('#addForm').find('input[name="server_id"]').val() == '') {
										$('#addForm').find('input[name="server_id"]').focus()
										alert('Please enter server_id')
										return
									}
									if ($('#addForm').find('input[name="name"]').val() == '') {
										$('#addForm').find('input[name="name"]').focus()
										alert('Please enter name')
										return
									}
									if ($('#addForm').find('input[name="currency"]').val() == '') {
										$('#addForm').find('input[name="currency"]').focus()
										alert('Please enter currency')
										return
									}
									if ($('#addForm').find('input[name="type"]').val() == '') {
										$('#addForm').find('input[name="type"]').focus()
										alert('Please enter type')
										return
									}
									if ($('#addForm').find('input[name="digits"]').val() == '') {
										$('#addForm').find('input[name="digits"]').focus()
										alert('Please enter digits')
										return
									}
									if ($('#addForm').find('input[name="trade"]').val() == '') {
										$('#addForm').find('input[name="trade"]').focus()
										alert('Please enter trade')
										return
									}
									if ($('#addForm').find('input[name="swap_long"]').val() == '') {
										$('#addForm').find('input[name="swap_long"]').focus()
										alert('Please enter swap_long')
										return
									}
									if ($('#addForm').find('input[name="swap_short"]').val() == '') {
										$('#addForm').find('input[name="swap_short"]').focus()
										alert('Please enter swap_short')
										return
									}
									if ($('#addForm').find('input[name="contract_size"]').val() == '') {
										$('#addForm').find('input[name="contract_size"]').focus()
										alert('Please enter contract_size')
										return
									}
									if ($('#addForm').find('input[name="description"]').val() == '') {
										$('#addForm').find('input[name="description"]').focus()
										alert('Please enter description')
										return
									}
									axios.get('http://localhost:3000/update?' + $('#addForm').serialize()).then(function(response) {
										console.log(response.data);
										if(response.status != 200) {
											alert(response.data)
										} else {
											alert('Successful operation')
											window.location.reload()
										}
									}).catch(function(error) {
										console.log(error);
										alert(error.response.data)
									});
								},
								btn2: function(index, layero) {
									//close button
								}
							});
						}).catch(function(error) {
							console.log(error);
						});
					}
				}
			});
		</script>
	</body>
</html>
